  PORT=8000
  BASE_URL=http://localhost:8000
  PRODUCTION_BASE_URL=https://gaming-showcase-backend.onrender.com
  DATABASE_URL=mongodb+srv://fuadhossainbk01:dO9DdKi1Q0fexlv6@cluster0.gbz9mw9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
  NODE_ENV=development
  USERNAME=fuadhossainbk01
  PASSWORD=dO9DdKi1Q0fexlv6
  BCRYPT_SALT_ROUNDS=12
  ADMIN_JWT_ACCESS_SECRET=8e3f2b0cfc5d4de4954d96e91a3c1c5dbe6c2951d71ce0bcd8832cf9e3dc8db0
  JWT_ACCESS_SECRET=ksadfkjhasdfsdajasdkfjhhasdgfjhsdf66+54556546546+46546+4564+645dshfhjasd
  EXPIRES_IN=10d
  JWT_REFRESH_SECRET=sajdfhagsdhfgasdgfhagsdfh4566566546475678787654sdhafhasdfhagsdfgasddfsagfdashdf
  REFRESH_EXPIRES_IN=30d
  OWNER_MAIL=fuadhossainbk01@gmail.com
  MAIL_PASSWORD=uphadawbcfrbcwzp
  SMTP_HOST=smtp.gmail.com
  SMTP_PORT=587

  BUNNY_CDN_PORT=21
  BUNNY_CDN_REGION=sg
  BUNNY_CDN_BASE_HOSTNAME=storage.bunnycdn.com
  BUNNY_CDN_HOSTNAME=sg.storage.bunnycdn.com
  BUNNY_CDN_STORAGE_ZONE_NAME=fuad-01
  BUNNY_CDN_PULL_ZONE_NAME=fuad01.b-cdn.net
  BUNNY_CDN_ACCESS_KEY=5e0c5099-d208-4c12-b0f39fbc9745-061c-451b

  FILE_PATH=something